mkdocs
mkdocs-material
pyyaml
beautifulsoup4
nltk

# PDF font extraction
pillow

# deterministic JSON
ujson  

# towards importing remote repo files
ruamel.yaml
GitPython

# docs extraction 
pdfplumber


